---
interface Props {
  title: string;
  description: string;
  link: string;
  pubDate: string;
}

const { title, description, link, pubDate } = Astro.props;
---

<style is:global>
  /* define transition */
  .normal-list-item {
    will-change: transform;
    transition: transform 300ms ease;
  }
  .normal-list-item:hover {
    transform: translateX(4%);
  }
</style>
<div
  class="normal-list-item bg-gray-30 border-1 m-3 flex w-full transform-gpu flex-col items-start justify-evenly rounded-xl border-gray-200 pb-4 pl-6 pr-4 pt-2"
>
  <a class="text-size-6 my-4 cursor-pointer text-left font-bold" href={link}>
    {title}
  </a>
  <div class="my-1 text-left font-light">
    {description}
  </div>
  <a href={link} class="mb-1 mt-2 block">
    <span
      class="underline decoration-from-font underline-offset-4"
      style="color: rgb(59, 130, 246);"
    >
      更多 →
    </span>
  </a>
  <div class="text-size-3.5 mt-4 text-gray-400">
    {pubDate}
  </div>
</div>
